/**
 * SEARCH BLOCK
 */
.search-form {
	margin-bottom: 0;
}
#search-block-form {

}
	#search-block-form input[type=search]{
		border: none;
		background: #404040 url("../images/icon-loop.png") no-repeat 14px 16px;
		padding: 0 10px 0 40px;
		margin: 0;
		color: #FFFFFF;
		height: 44px;
		width: 186px;
		font-size: 14px;
		font-family: "Cabin", sans-serif;
		outline: none;
	}
	#search-block-form input[type=submit]{
		border: none;
		background: #ffad00;
		text-transform: uppercase;
		color: #FFFFFF;
		width: 58px;
		height: 44px;
		font-family: "Cabin", sans-serif;
		font-size: 14px;
	}
	#search-block-form .container-inline > div {
		float: left;
		margin: 0;
	}
/* Brevkasse */	
#custom-search-blocks-form-1 {
	padding: 23px 23px 0 23px;
	float: left;
	background: #0b5a7c;
}
	#custom-search-blocks-form-1 .form-type-textfield {
		width: 190px;
		float: left;
	}
	#custom-search-blocks-form-1 input[type=text]{
		border: none;
		background: #FFF url("../images/icon-loop-dark.png") no-repeat 14px 16px;
		padding: 0 10px 0 40px;
		margin: 0;
		color: #3b3b3b;
		height: 44px;
		width: 140px;
		font-size: 14px;
		font-family: "Cabin", sans-serif;
		outline: none;
	}
	#custom-search-blocks-form-1 input[type=submit]{
		border: none;
		background: #77b5cf;
		text-transform: uppercase;
		color: #FFFFFF;
		width: 58px;
		height: 44px;
		font-family: "Cabin", sans-serif;
		font-size: 14px;
	}
	#custom-search-blocks-form-1 .form-actions {
		float: left;
		margin: 0;
	}
/**
 * FORSIDE INDGANGE
 */

#entrances {
	margin: 0;
	list-style: none;
	background: url("../images/ent-bg.png") no-repeat;
	height: 251px;
	width: 302px;
	position: relative;
	left: -7px; top: -13px;
	padding: 13px 0 0 7px;
}
	#entrances li {
		display: block;
		float: left;
		height: 80px;
		width: 294px;
		cursor: pointer;
	}
	#entrances li:hover {
		background: url("../images/ent-hover.png") no-repeat;
	}
	
/**
 * FORSIDE GRID
 */
#block-views-front-page-grid-block {
	position: relative;
}
	#block-views-front-page-grid-block .block-title {
		font-size: 28px;
		color: #404040;
		font-weight: normal;
		padding-left: 23px;
	}
	#block-views-front-page-grid-block .views-fluidgrid-item {
		float: left;
		background: url("../images/grid-box-bg.png") no-repeat 0 9px;
		width: 294px; height: 238px;
		color: #404040;
		font-size: 13px; line-height: 15px;
	}
	#block-views-front-page-grid-block .views-fluidgrid-item .views-fluidgrid-item-inner {
		padding: 23px 23px;
		height: 171px;
		position: relative;
	}
	#block-views-front-page-grid-block .views-fluidgrid-item .views-fluidgrid-item-top {
		background: url("../images/small_shadow_top.png") no-repeat top center;
		height: 9px;
	}
	#block-views-front-page-grid-block .views-fluidgrid-item .views-fluidgrid-item-btm {
		background: url("../images/small_shadow_bottom.png") no-repeat bottom center;
		height: 12px;
	}
	#block-views-front-page-grid-block .plus-link {
		background: url("../images/grid-active.png") no-repeat;
		display: block;
		height: 57px; width: 54px;
		position: absolute;
		top: 0; right: 0;
		display: none;
	}
		#block-views-front-page-grid-block .views-field-created {
			font-size: 11px; line-height: 11px;
			margin-bottom: 13px;
			float: left;
			width: 50%;
		}
		#block-views-front-page-grid-block .views-field-comment-count {
			font-size: 11px; line-height: 11px;
			margin-bottom: 13px;
			float: right;
			width: 50%;
			text-align: right;		}
			#block-views-front-page-grid-block .views-field-comment-count span {
				background: url("../images/comment-count.png") no-repeat 0 4px;			
				padding: 0 0 0 14px;
			}
		#block-views-front-page-grid-block .views-field-title {
			width: 100%;
			float: left;
			margin-bottom: 3px;
		}
		#block-views-front-page-grid-block .views-field-title a {
			font-size: 20px; line-height: 20px;
			text-transform: uppercase;
			color: #404040;
		}
		#block-views-front-page-grid-block .views-field-body {
			float: left;
			width: 100%;
		}	
		#block-views-front-page-grid-block .views-field-type {
			color: #0a597b;
			text-transform: uppercase;
			font-size: 15px;
		}	
			#block-views-front-page-grid-block .views-field-type .Forumemne {
				padding: 10px 0 0 50px;
				height: 45px;	
				background: url("../images/icon-forum.png") no-repeat top left;
			}
			#block-views-front-page-grid-block .views-field-type .Spørgsmål-til-brevkassen {
				padding: 10px 0 0 50px;
				height: 45px;
				background: url("../images/icon-brev.png") no-repeat top left;
			}
			#block-views-front-page-grid-block .views-field-type .Erfaringer {
				padding: 10px 0 0 50px;
				height: 45px;	
				background: url("../images/icon-stories.png") no-repeat top left;
			}
		
		/* VIEWS GRID - FILTERS*/
		#block-views-front-page-grid-block .view-filters {
			padding: 15px 0;
			border-top: 1px dashed #373737;
			border-bottom: 1px dashed #373737;
			color: #424242;
			margin: 15px 0 14px 0;
			font-size: 15px;
		}
			#edit-type-1-wrapper> label {
				float: left;
				margin: 0 33px 0 23px;
				text-transform: uppercase;
			}
			#edit-type-1-wrapper > div {
				float: left;
			}
			#block-views-front-page-grid-block .view-filters .form-type-radio {
				float: left;
				margin: 0 !important;
				background: url("../images/filter-sep.png") no-repeat center left;
				padding: 0 12px 0 25px;
			}
				#block-views-front-page-grid-block .view-filters .form-type-radio:first-child {
					background: none;
					padding-left: 0;
				}
				#block-views-front-page-grid-block .view-filters .form-type-radio label {
					cursor: pointer;
					font-weight: normal;
				}
				#block-views-front-page-grid-block .view-filters .form-type-radio input[checked=checked]+label {
					color: #0b5a7c;
				}
					#block-views-front-page-grid-block .view-filters .form-type-radio label[for=edit-type-1-all] {
					}
					#block-views-front-page-grid-block .view-filters .form-type-radio label[for=edit-type-1-experience] {
						background: url("../images/stories_mikro.png") no-repeat center left;
						padding-left: 25px;
					}
					#block-views-front-page-grid-block .view-filters .form-type-radio label[for=edit-type-1-forum] {
						background: url("../images/forum_mikro.png") no-repeat center left;
						padding-left: 25px;
					}
					#block-views-front-page-grid-block .view-filters .form-type-radio label[for=edit-type-1-questions-and-answers] {
						background: url("../images/brevkasse_mikro.png") no-repeat top left;
						padding-left: 25px;
					}
				
			#block-views-front-page-grid-block .view-filters input[type=radio]{
				display: none;
			}
		/* PAGER */
		#block-views-front-page-grid-block ul.pager {
			position: absolute;
			right: 28px;
			top: 65px;
			color: #424242;
			font-size: 14px;
			font-weight: normal;
		}
			#block-views-front-page-grid-block ul.pager li {
				padding: 0;
			}
			#block-views-front-page-grid-block ul.pager li.pager-current {
				padding: 0 10px;
				font-family: "Cabin", sans-serif;
				font-size: 15px;
				font-weight: normal;
			}
			#block-views-front-page-grid-block ul.pager li a {
				color: #FFF;
				background: #424242;
				padding: 1px 8px;
				text-decoration: none;
			}
			

/**
 * TOOLTIPS
 */
.qtip {
	font-size: 13px;
}

/** 
 * THROBBER
 */
.progress-disabled {
  float: none;
  display:inline;
}

.ajax-progress {
  float: none;
  display:inline;
  position: relative;
}
.ajax-progress .throbber {
  float: none;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 0; left: 0;
}
tr .ajax-progress .throbber {
  margin: 0 2px;
}
.ajax-progress-bar {
  width: 16em;
}

/**
 * RIGHT SIDEBAR
 */
.region-sidebar-first {

}
	.region-sidebar-first .block {
		background: url("../images/small_shadow_top.png") no-repeat top center;
		padding-top: 9px;
	}
	.region-sidebar-first .block .block-inner {
		background: url("../images/small_shadow_bottom.png") no-repeat bottom center;
		padding-bottom: 12px;
	}
	.region-sidebar-first .block h2.block-title {
		color: #424242;
		background: #FFFFFF url("../images/block-top.png") no-repeat top center;
		font-size: 25px; line-height: 25px;
		font-weight: normal;
		padding: 30px 23px 23px 23px;
	}
	.not-front .region-sidebar-first .block .block-content {
		font-size: 11px; line-height: 13px;
		color: #404040;
		background: #FFFFFF url("../images/block-btm.png") no-repeat bottom center;
		padding: 0 23px 23px 23px;
	}
	
	/* OM BREVKASSEN */
	.region-sidebar-first #block-block-7 {
		margin-top: 0;
	}
	.region-sidebar-first #block-block-7 h2.block-title {
		background: #0b5a7c;
		color: #FFFFFF;
	}
	.region-sidebar-first #block-block-7 .block-content {
		background: #0b5a7c;
		color: #FFFFFF;
		font-size: 13px;
		line-height: 15px;
		padding: 0 23px 23px 23px;
		float: left;
	}
		.region-sidebar-first #block-block-7 .block-content h2 {
			text-transform: uppercase;
			font-weight: normal;
			font-size: 20px;
		}
		.region-sidebar-first #block-block-7 .block-content p {
			float: left;
			width: 100%;
			margin-bottom: 15px;
		}
		.region-sidebar-first #block-block-7 .block-content hr {
			border-top: 1px dashed #FFFFFF;
			border-bottom: none;
			height: 0;
			margin-bottom: 15px;
			width: 100%;
			float: left;
		}
	.region-sidebar-first #block-block-7 a.add-post {
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 15px;
		line-height: 15px;
		display: block;
		background: #77b5cf url("../images/icon-plus-mini.png") no-repeat 11px 11px;
		padding: 10px 12px 10px 30px;
		border-radius: 5px;
		float: left;
		clear: both;
	}
	
	
/**
 * RIGHT SIDE - fixed entrances
 */
#right-side {
	position: fixed;
	right: 0;
	top: 195px;
	line-height: 0;
	width: 116px;
	overflow: hidden;
}
	#right-side > div {
		margin-bottom: 2px;
		width: 116px;
		position: relative;
		right: -75px;
	}
	#right-del {
		background: #3b3b3b;
	}
	#right-brevkasse {
		background: #0c5a7c;
	}
	#right-feedback {
		background: #FFFFFF;
	}
	
#scroll-top {
	position: absolute;
	right: 0;
	top: -100px;
}

/**
 * FOOTER TOP
 */
.region-footer-top {
}
	.region-footer-top .block {
		color: #FFFFFF;
		font-size: 13px; line-height: 15px;
		margin-bottom: 60px;
	}
	.region-footer-top .block-first {
		width: 50%;
		float: left;
		text-transform: uppercase;
	}
	.region-footer-top .block-last {
		width: 50%;
		float: left;
	}
		.region-footer-top .block p {
			margin-bottom: 0;
		}
/**
 * FOOTER
 */
.region-footer {

}
	.region-footer .block {
		float: left;
		width: 294px;
		margin-right: 23px;
	}
	.region-footer .block-title {
		font-size: 20px;
		margin-bottom: 18px;
		text-transform: uppercase;
		font-weight: normal;
	}
	.region-footer .block-last {
		margin: 0;
	}
	
/**
 * FOOTER BOTTOM
 */
.region-footer-btm {
}
	.region-footer-btm .block {
		height: 25px;
		padding-top: 10px;
		font-size: 13px; line-height: 15px;
	}
	.region-footer-btm .block-first {
		width: 50%;
		float: left;
		text-transform: uppercase;
	}
	.region-footer-btm .block-last {
		width: 50%;
		float: left;
		text-align: right;
		font-size: 11px;
		color: #404040;
	}
		.region-footer-btm .block p {
			margin-bottom: 0;
		}
		
/**
 * AUTO COMPLETE
 */
ul.ui-autocomplete {
	border: none;
	background: none;
	border-radius: 0;
	margin: 0; padding: 0;
	box-shadow: 2px 2px 4px #AAA;
	background-color: #FFFFFF;
	max-width: 236px;
}
	ul.ui-autocomplete li {
		background-color: #FFFFFF !important;
	}
	ul.ui-autocomplete li a {
		font-size: 13px;
		color: #424242;
		font-family: "Cabin", sans-serif;
		border-radius: 0 !important;
		background-color: #FFFFFF !important;
		padding: 6px 8px 6px 24px !important;
		cursor: pointer;
	}
	ul.ui-autocomplete .ui-state-hover {
		background-color: #EEEEEE !important;
		border-radius: 0 !important;
		margin: 0 !important;
		color: #424242 !important;
	}
	
/**
 * SENESTE INDLÆG
 */
 
.view-usergenerated-content {

}
	.view-usergenerated-content h3 {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: normal;
		margin: 0 0 15px 0;
		padding: 0;
	}
	.view-usergenerated-content .view-grouping {
		margin: 0 0 30px 0;
	}
	.view-usergenerated-content .views-row {
		margin-bottom: 5px;	
	}
		.view-usergenerated-content a {
			font-size: 13px;
			color: #FFFFFF;
		}