/**
 * DEBATFORUMMER - Oversigt
 */
.page-forum section#main-content {
	position: relative;
}
.page-forum #main-content-header {
	background-color: #FFFFFF;
}
.page-forum #content {
	float: left;
}
.page-forum #content-btm-shadow {
	float: left;
	width: 100%;
}
.page-forum h1#page-title {
	color: #424242 !important;
}
.page-forum #tasks {
	display: none;
}
#forum-wrapper {
	float: left;
	width: 100%;
}
	#forum-wrapper .forum-item {
		width: 50%;
		float: left;
		margin-bottom: 20px;
		font-family: "Cabin";
        margin-bottom: 4em;
	}
		#forum-wrapper .forum-item a {
			color: #0B5A7C;
		}
		#forum-wrapper .forum-item > div {
			padding-right: 23px;
		}
			#forum-wrapper .forum-item .forum-icon {
				float: left;
				margin-right: 8px;
			}
			#forum-wrapper .forum-item .forum-name {
				font-weight: bolder;
				font-size: 25px;
				line-height: 25px;
				padding-top: 5px;
				height: 21px;
				margin-bottom: 10px;
			}
				#forum-wrapper .forum-item .forum-name a {
					color: #424242;
				}
			#forum-wrapper .forum-item .forum-number-topics {
				font-size: 13px;
				color: #424242;
				text-transform: uppercase;
				float: left;
				border-right: 1px solid #0b5a7c;
				padding-right: 8px; margin-right: 8px;
				font-weight: bold;
			}
			#forum-wrapper .forum-item .forum-number-posts {
				font-size: 13px;
				color: #424242;
				text-transform: uppercase;
				float: left;
				font-weight: bold;
			}
			#forum-wrapper .forum-item .forum-description {
				font-size: 13px; font-family: "Cabin";
				color: #222;
				margin-top: 15px;
				float: left;
				width: 100%;
			}
			#forum-wrapper .forum-item .forum-last-reply {
				float: left;
				width: 100%;
				font-size: 13px;
			}
				#forum-wrapper .forum-item .forum-last-reply strong {
					display: block;
				}
			#forum-wrapper .forum-item .goto-forum {
				margin-top: 15px;
				float: left;
				width: 100%;
			}
				#forum-wrapper .forum-item .goto-forum a.goto-link {
					color: white;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 15px;
					line-height: 15px;
					display: block;
					background: #0B5A7C url("../images/icon-white-triangle.png") no-repeat 32px 21px;
					padding: 20px 35px 20px 53px;
					float: left;
				}
				#forum-wrapper .forum-item .goto-forum a.add-link {
					display: block;
					height: 55px;
					width: 55px;
					background: #0B5A7C url("../images/icon-plus-mini.png") no-repeat center center;
					float: left;
					margin-left: 3px;
				}

/**
 * EMNELISTE - Oversigt
 */

body[class*='page-forum-'] section#main-content {
	background: none;
	padding-top: 0;
	position: relative; top: 0;
}
body[class*='page-forum-'] #main-content-header {
	padding: 0;
	margin-bottom: 0;
}
body[class*='page-forum-'] #content {
	padding: 0;
	background: none;
	float: left;
	width: 100%;
}
body[class*='page-forum-'] #content-btm-shadow {
	background: none;
	height: 0;
	float: left;
	width: 100%;
}
.view-advanced-forum-topic-list .view-header {
	float: left;
	width: 100%;
    margin-bottom: 2em;
}
	.view-advanced-forum-topic-list .view-header #forum-icon {
		float: left;
		margin-right: 8px;
        margin-top: 6px;
	}
	.view-advanced-forum-topic-list .view-header #forum-name {
	}
		.view-advanced-forum-topic-list .view-header #forum-name a {
			color: #0b5a7c;
		}
		.view-advanced-forum-topic-list .view-header #forum-name h1 {
			font-size: 3.5em; line-height: 1.1em;
            color: #424242;
            font-weight: bolder;
            margin-bottom: 0.2em;
		}
	.view-advanced-forum-topic-list .view-header-top {

	}
	.view-advanced-forum-topic-list .view-header-btm {

	}
	.view-advanced-forum-topic-list .view-header-content {

	}
	.forum-node-create-links {
		width: auto;
		padding: 0;
	}
		.forum-add-node {
			margin-right: 0 !important;
		}
		.forum-add-node a {
			color: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 15px;
            display: block;
            background: #77b5cf url(../images/icon-plus-mini.png) no-repeat 32px 21px;
            padding: 20px 35px 20px 53px;
            float: left;
            clear: both;
		}
.view-advanced-forum-topic-list .topic-row-top {

}
.view-advanced-forum-topic-list .topic-row-btm {

}
.view-advanced-forum-topic-list .topic-row {

}
.view-advanced-forum-topic-list .topic-row > div {
padding: 35px 0px 40px 1px;
	overflow: hidden;
    border-bottom: 1px solid #c5c5c5;
}
	.view-advanced-forum-topic-list .topic-row span.label {
		font-size: 12px;
		color: #424242;
		text-transform: uppercase;
		display: block;
		font-weight: bold;
		margin-bottom: 3px;
	}
	.view-advanced-forum-topic-list .topic-row .views-field-title {
		width: 45%;
		float: left;
	}
		.view-advanced-forum-topic-list .topic-row .views-field-title a {
			color: #0b5a7c;
			text-transform: uppercase;
			font-size: 15px;
		}
	.view-advanced-forum-topic-list .topic-row .views-field-comment-count {
		width: 15%;
		float: left;
		text-align: center;
	}
		.view-advanced-forum-topic-list .topic-row .views-field-comment-count span.count {
			color: #FFFFFF;
			background: url("../images/icon-comment-count.png") no-repeat 0 1px;
			width: 24px;
			height: 18px;
			display: block;
			margin: auto;
			font-size: 10px;
		}
	.view-advanced-forum-topic-list .topic-row .views-field-last-updated {
		width: 40%;
		float: left;
		font-size: 13px;
	}
		.view-advanced-forum-topic-list .topic-row .views-field-last-updated a {
			color: #0b5a7c;
		}

/**
 * FORMUMENME - Enkeltside
 */
.forum-post-top {

}
.forum-post-btm {

}
	.forum-post-panel-main {
		margin: 0;
		height: auto;
		min-height: 0 !important;
	}
	.forum-post-info {
	}
	.forum-post-wrapper {
		background-color: #FFFFFF;
		padding: 20px 23px 0 63px;
	}
		.forum-post-wrapper a {
			color: #424242;
            text-decoration: none;
            font-size: 22px;
            line-height: 1.2em;
		}
	.forum-post-footer {
		background-color: #FFFFFF;
		padding: 0 23px 23px 23px;
	}
		.forum-post-title {
			padding: 0 !important;
			margin: 0;
			font-size: 20px; line-height: 21px;
			color: #404040;
			margin-bottom: 15px;
            font-weight: bolder;
		}
			.forum-post-title a {
				color: #404040;
			}
		.forum-post-panel-main .author-pane {
			float: left;
			font-size: 12px;
			color: #424242;
			font-weight: bold;
			text-transform: uppercase;
			padding-right: 6px;
			margin-right: 5px;
			border-right: 1px solid #424242;
			margin-bottom: 20px;
		}
			.forum-post-panel-main .user-picture {
				display: none;
			}
		.forum-post-panel-main .forum-posted-on {
			float: left;
			font-size: 12px;
			color: #424242;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 20px;
			padding: 0;
		}
		.forum-post-content {
			padding: 0 !important;
			margin: 0;
			overflow: hidden;
		}
		.forum-post-links ul li a {
			color: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 15px;
            display: block;
            background: #77b5cf;
            padding: 20px 35px;
            float: left;
            clear: both;
		}
		.post-edited {
			padding: 0; margin: 0;
			font-style: italic;
			color: #666;
		}
		.title.comment-form {
			margin-top: 11px;
		}

/* Forumemnet - Specifikt */
.forum-post {
    border-top: 1px solid #c5c5c5;
}
.forum-post.article {
    border: 0;
}
	.forum-post.article #forum-icon {
		float: left;
		margin-right: 8px;
	}
	.forum-post.article #forum-icon img {
		max-width: 42px;
		max-height: 42px;
	}
	.forum-post.article #forum-headline h1 {
		font-size: 28px;
		line-height: 28px;
		font-family: "Cabin",sans-serif;
		margin: 0 0 15px 0;
		font-weight: bolder;
	}
.forum-post.article	.forum-post-wrapper {
		background-color: #FFFFFF;
		padding: 0;
	}

/**
 * SVAR PÅ FORUMEMNE
 */
.page-comment-reply #comment-form {
	padding-top: 23px;
}

/**
* Artikler fikse styling for h2 tags
*/
.view-artikler .views-row .views-field-title h2{
	margin:0;
}

/**
* Leksikon fikse styling for h2 tags
*/
.view-leksikon .views-row .views-field-title h2{
	font-size:20px;
}