/**
 * DEBATFORUMMER - Oversigt
 */
.page-forum section#main-content {
	background: url("../images/big_shadow_top.png") no-repeat top center;
	padding-top: 11px;
	position: relative; top: -11px;
}
.page-forum #main-content-header {
	padding: 23px 23px 0 23px;
	background-color: #FFFFFF;
}
.page-forum #content {
	padding: 0 23px 23px 23px;
	background: white url("../images/content-btm.png") no-repeat bottom center;		
	float: left; 
}
.page-forum #content-btm-shadow {
	background: url("../images/big_shadow_bottom.png") no-repeat bottom center;
	height: 15px;
	float: left;
	width: 100%;		
}
.page-forum h1#page-title {
	color: #0B5A7C !important;
	padding: 3px 0 0 52px;
	background: url("../images/icon-forum.png") no-repeat top left;
	height: 36px;
	margin-bottom: 20px;
}
.page-forum #tasks {
	display: none;
}
#forum-wrapper {
	float: left;
	width: 100%;
}
	#forum-wrapper .forum-item {
		width: 50%; 
		float: left;
		margin-bottom: 20px;
		font-family: "Cabin";
	}
		#forum-wrapper .forum-item a {
			color: #0B5A7C;
		}
		#forum-wrapper .forum-item > div {
			padding-right: 23px;
		}
			#forum-wrapper .forum-item .forum-icon {
				float: left;
				margin-right: 8px;
			}
			#forum-wrapper .forum-item .forum-name {
				font-weight: normal;
				text-transform: uppercase;
				font-size: 20px;
				line-height: 20px;
				padding-top: 20px;
				height: 21px;
				margin-bottom: 5px;
			}
				#forum-wrapper .forum-item .forum-name a {
					color: #0B5A7C;
				}
			#forum-wrapper .forum-item .forum-number-topics {
				font-size: 13px;
				color: #0b5a7c;
				text-transform: uppercase;
				float: left;
				border-right: 1px solid #0b5a7c;
				padding-right: 8px; margin-right: 8px;
				font-weight: bold;
			}
			#forum-wrapper .forum-item .forum-number-posts {
				font-size: 13px;
				color: #0b5a7c;
				text-transform: uppercase;
				float: left;
				font-weight: bold;
			}
			#forum-wrapper .forum-item .forum-description {
				font-size: 12px; font-family: "Cabin";
				color: #3e3e3e;
				margin-top: 15px;
				float: left;
				width: 100%;
			}
			#forum-wrapper .forum-item .forum-last-reply {
				float: left;
				width: 100%;
				font-size: 12px;
			}
				#forum-wrapper .forum-item .forum-last-reply strong {
					display: block;
				}
			#forum-wrapper .forum-item .goto-forum {
				margin-top: 15px;
				float: left;
				width: 100%;
			}
				#forum-wrapper .forum-item .goto-forum a.goto-link {
					color: white;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 15px;
					line-height: 15px;
					display: block;
					background: #0B5A7C url("../images/icon-white-triangle.png") no-repeat 13px 11px;
					padding: 10px 12px 10px 30px;
					float: left;
					-webkit-border-top-left-radius: 5px;
					-webkit-border-bottom-left-radius: 5px;
					-moz-border-radius-topleft: 5px;
					-moz-border-radius-bottomleft: 5px;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
				#forum-wrapper .forum-item .goto-forum a.add-link {
					display: block;
					height: 35px;
					width: 35px;
					background: #0B5A7C url("../images/icon-plus-mini.png") no-repeat center center;
					float: left;
					margin-left: 3px;
					-webkit-border-top-right-radius: 5px;
					-webkit-border-bottom-right-radius: 5px;
					-moz-border-radius-topright: 5px;
					-moz-border-radius-bottomright: 5px;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
				}

/**
 * EMNELISTE - Oversigt
 */

body[class*='page-forum-'] section#main-content {
	background: none;
	padding-top: 0;
	position: relative; top: 0;
}
body[class*='page-forum-'] #main-content-header {
	padding: 0;
	margin-bottom: 0;
}
body[class*='page-forum-'] #content {
	padding: 0;
	background: none;		
	float: left;
	width: 100%; 
}
body[class*='page-forum-'] #content-btm-shadow {
	background: none;
	height: 0;
	float: left;
	width: 100%;		
}
.view-advanced-forum-topic-list .view-header {
	margin-top: -11px;
	float: left;
	width: 100%;
}
	.view-advanced-forum-topic-list .view-header #forum-icon {
		float: left;
		margin-right: 8px;
	}
	.view-advanced-forum-topic-list .view-header #forum-name {
	}
		.view-advanced-forum-topic-list .view-header #forum-name h1 {
			font-size: 28px; line-height: 28px;
			color: #0b5a7c;
			font-family: "Cabin", sans-serif;
			margin: 0 0 15px 0;
			font-weight: normal;
		}
	.view-advanced-forum-topic-list .view-header-top {
		background: url("../images/big_shadow_top.png") no-repeat top center;
		height: 11px;
		float: left;
		width: 100%;
	}
	.view-advanced-forum-topic-list .view-header-btm {
		background: url("../images/big_shadow_bottom.png") no-repeat bottom center;
		height: 15px;
		float: left;
		width: 100%;
	}
	.view-advanced-forum-topic-list .view-header-content {
		background: white url("../images/content-btm.png") no-repeat bottom center;
		padding: 23px 23px 10px 23px;
		overflow: hidden;
		position: relative;
	}
	.forum-node-create-links {
		position: absolute;
		top: 23px;
		right: 23px;
		width: auto;
		padding: 0;	
	}
		.forum-add-node {
			margin-right: 0 !important;
		}
		.forum-add-node a {
			color: white;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 15px;
			line-height: 15px;
			display: inline-block;
			background: #0B5A7C url("../images/icon-plus-mini.png") no-repeat 11px 11px;
			padding: 10px 12px 10px 30px;
			border-radius: 5px
		}
.view-advanced-forum-topic-list .topic-row-top {
	background: url("../images/big_shadow_top.png") no-repeat top center;
	height: 11px;
	float: left;
	width: 100%;
}
.view-advanced-forum-topic-list .topic-row-btm {
	background: url("../images/big_shadow_bottom.png") no-repeat bottom center;
	height: 15px;
	float: left;
	width: 100%;
}
.view-advanced-forum-topic-list .topic-row {
	background: white url("../images/content-btm.png") no-repeat bottom center;
	float: left;
	width: 100%;
}
.view-advanced-forum-topic-list .topic-row > div {
	padding: 23px 23px 23px 23px;
	overflow: hidden;
}
	.view-advanced-forum-topic-list .topic-row span.label {
		font-size: 11px;
		color: #424242;
		text-transform: uppercase;
		display: block;
		font-weight: bold;
		margin-bottom: 3px;
	}
	.view-advanced-forum-topic-list .topic-row .views-field-title {
		width: 45%;
		float: left;
	}
		.view-advanced-forum-topic-list .topic-row .views-field-title a {
			color: #0b5a7c;
			text-transform: uppercase;
			font-size: 15px;
		}
	.view-advanced-forum-topic-list .topic-row .views-field-comment-count {
		width: 15%;
		float: left;
		text-align: center;
	}
		.view-advanced-forum-topic-list .topic-row .views-field-comment-count span.count {
			color: #FFFFFF;
			background: url("../images/icon-comment-count.png") no-repeat;
			width: 24px;
			height: 18px;
			display: block;
			margin: auto;
			font-size: 12px;
		}
	.view-advanced-forum-topic-list .topic-row .views-field-last-updated {
		width: 40%;
		float: left;
		font-size: 12px;
	}
		.view-advanced-forum-topic-list .topic-row .views-field-last-updated a {
			color: #0b5a7c;
		}
		
/**
 * FORMUMENME - Enkeltside
 */
.forum-post-top {
	background: url("../images/big_shadow_top.png") no-repeat top center;
	height: 11px;
	float: left;
	width: 100%;
}
.forum-post-btm {
	background: url("../images/big_shadow_bottom.png") no-repeat bottom center;
	height: 15px;
	float: left;
	width: 100%;
}
	.forum-post-panel-main {
		margin: 0;
		height: auto;
		min-height: 0 !important;
	}
	.forum-post-info {
	}
	.forum-post-wrapper {
		background-color: #FFFFFF;
		padding: 54px 23px 0 63px;
	}
		.forum-post-wrapper a {
			color: #0b5a7c;
		}
	.forum-post-footer {
		background-color: #FFFFFF;
		padding: 0 23px 23px 23px;
	}
		.forum-post-title {
			padding: 0 !important;
			margin: 0;
			font-size: 20px;
			text-transform: uppercase;
			color: #404040;
			margin-bottom: 15px;
		}
			.forum-post-title a {
				color: #404040;
			}
		.forum-post-panel-main .author-pane {
			float: left;
			font-size: 11px;
			color: #424242;
			font-weight: bold;
			text-transform: uppercase;
			padding-right: 6px;
			margin-right: 5px;
			border-right: 1px solid #424242;
			margin-bottom: 20px;
		}
			.forum-post-panel-main .user-picture {
				display: none;
			}
		.forum-post-panel-main .forum-posted-on {
			float: left;
			font-size: 11px;
			color: #424242;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 20px;
			padding: 0;
		}
		.forum-post-content {
			padding: 0 !important;
			margin: 0;
			overflow: hidden;
		}
		.forum-post-links ul li a {
			color: white;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 15px;
			line-height: 15px;
			display: inline-block;
			background: #0B5A7C;
			padding: 10px 12px 10px 12px;
			border-radius: 5px;
		}
		.post-edited {
			padding: 0; margin: 0;
			font-style: italic;
			color: #666;
		}
		.title.comment-form {
			margin-top: 11px;
		}

/* Forumemnet - Specifikt */
.forum-post.article {
	margin-top: -11px;
}
	.forum-post.article #forum-icon {
		float: left;
		margin-right: 8px;
	}
	.forum-post.article #forum-headline h1 {
		font-size: 28px;
		line-height: 28px;
		color: #0B5A7C;
		font-family: "Cabin",sans-serif;
		margin: 0 0 15px 0;
		font-weight: normal;
	}
.forum-post.article	.forum-post-wrapper {
		background-color: #FFFFFF;
		padding: 23px 23px 0 23px;
	}
	
/**
 * SVAR PÅ FORUMEMNE
 */
.page-comment-reply #comment-form {
	padding-top: 23px;
}