body {
}

/**
 * HEADER
 */
#header-container {
	background: #ffffff;
	min-height: 108px;
}
	header.container {
        width: calc(100% - 8em);
        padding: 0 4em;
	}
	#branding{
	  float:left;
  }

		header #logo {
			padding: 30px 0 0 0;
            position: relative;
            z-index: 99999;
		}
            header #logo svg{
                width: 160px;
                height: 43px;
            }
                header #logo svg path{
                    fill: #424242;
                }
	
#header-btm-container {
	height: 46px;
	background: #ffad00;
    position: relative;
    z-index: 1;
}
	#header-btm-container .container {
		position: relative;
		height: 46px;
        width: 100%;
	}
		#header-btm-container .container #find-hjaelp {
			position: absolute;
			left: calc(4em - 20px);
			bottom: -16px;
		}

/**
 * FRONT PAGE BANNER & ENTRIES
 */
#banner-front {
	position: relative;
    overflow: hidden;
    height: 500px;
    margin-bottom: 0;
    z-index: 0;
}
#entries-front {
	width: 100%;
    background: #f6f5f5;
}

/**
 * PAGE
 */

/* Front page */
.front #page {
	padding: 25px 0 65px 0;
}

#page {
	padding: 65px 0;
}
#page > #columns {
	position: relative;
}
#main-content {
	margin-right: 23px !important;
}
	
/**
 * SIDEBAR TOP
 */
.region-sidebar-top {
	position: absolute;
	right: 0;
	top: 0;
}

/**
 * FEATURED
 */
.region-featured {	
	margin-top: 23px;
}

/**
 * FOOTER
 */
#footer-container {
	background: #f6f5f5;
	padding: 4em 0 2em 0;
	position: relative;
}
	footer {
		color: #424242;
		font-size: 13px;
		line-height: 15px;
	}
  footer p {
    line-height: 20px;
  }
	footer img {
		margin: 0 10px -62px 10px;
	}
	
#footer-white {
	background: #f6f5f5;
	height: 35px;
}

/**
 * RESET
 */
#main-content, .block-inner, .pane-inner, .menu-wrapper, .branding-elements, .breadcrumb-wrapper, .attribution, .at-panel .rounded-corner, .block-panels-mini > .block-title, div.messages {
	margin-left: 0;
	margin-right: 0;
}

/**
 * TOOLTIPS
 */
.qtip-contentWrapper {
	background: #3c3c3b url("../images/icon-info.png") no-repeat 12px 14px !important;
}
.qtip-content {
	background-color: transparent !important;
	padding-left: 47px !important;
	min-height: 35px;
}
