/**
 * ADD NODE FORMS
 */
.page-node-add section#main-content {
	background: url("../images/big_shadow_top.png") no-repeat top center;
	padding-top: 11px;
	position: relative; top: -11px;
}
.page-node-add #main-content-header {
	padding: 23px 23px 0 23px;
	background: white url("../images/content-top.png") no-repeat top center;		
}
.page-node-add #content {
	padding: 0 23px 23px 23px;
	background: white url("../images/content-btm.png") no-repeat bottom center;		
}
.page-node-add #content-btm-shadow {
	background: url("../images/big_shadow_bottom.png") no-repeat bottom center;
	height: 15px;		
}
.node-form {
	font-family: "Cabin", sans-serif;
	overflow: hidden;
}
	.node-form .form-wrapper {
		float: left; width: 100%;
		margin-bottom: 18px;
	}
	.node-form .form-item {
		margin-bottom: 0;
	}
	.node-form > div > .form-item {
		margin-bottom: 15px;
	}
	.node-form label,
	.comment-form label {
		font-size: 13px;
		line-height: 13px;
		font-weight: bold;
		color: #424242;
		margin-bottom: 8px;
	}
	.node-form label.option {
		font-weight: normal;
	}
	.node-form #edit-body-und-0-format {
		display: none;
	}
	.node-form #edit-body,
	.comment-form #edit-comment-body {
		margin-bottom: 18px;
	}
	.node-form div.description {
		margin-left: 0;
		clear: both;
	}	
	.node-form #edit-submit {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
	background: #0B5A7C url("../images/icon-plus.png") no-repeat 10px 8px;
	padding: 10px 12px 10px 35px;
	border: none;
	border-radius: 5px;
	text-align: left;
	}
	.node-form input[type=text],
	.comment-form input[type=text] {
		padding: 6px 8px;
		font-size: 12px;
		color: #a29f99;
		font-family: "Cabin", sans-serif;
		border: 1px solid #c8c8c8;
	}
	.node-form .form-type-checkbox {
		overflow: hidden;
		margin-bottom: 3px;
	}	
		.node-form .form-type-checkbox label {
			margin: 0; padding: 0;
			position: relative; top: 2px;
		}
	.node-form .styledCheckbox {
		float: left;
		margin-right: 5px;
	}
	html.js input.form-autocomplete {
	    background-position: 99% 7px;
	}
	.comment-form a {
		color: #0B5A7C;
	}
	/* HEADLINES */
	.page-node-add-questions-and-answers h1#page-title {
		color: #0B5A7C !important;
		padding: 3px 0 0 52px;
		background: url("../images/icon-title-letter.png") no-repeat top left;
		height: 36px;
	}


/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

/***** Begin Theme, feel free to edit in here! ******/

/* One container to bind them... */
.dk_container {
  font-family: 'Cabin', Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 3px;
  border-radius: 0;
}
  .dk_container:focus {
    outline: 0;
  }
  .dk_container a {
    cursor: pointer;
    text-decoration: none;
  }

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */
  background-image: url('../images/dropdown-arrow.png');
  background-repeat: no-repeat;
  background-position: right 0;
  border: 1px solid #c8c8c8;
  color: #a29f99;
  padding: 6px 45px 7px 10px;
  border-radius: 0;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
}
  .dk_toggle:hover {
  }
  /* Applied when the dropdown is focused */
  .dk_focus .dk_toggle {
  }
  .dk_focus .dk_toggle {
  }

/* Applied whenever the dropdown is open */
.dk_open {
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10;
}
  .dk_open .dk_toggle {
    border-color: #c8c8c8;
    box-shadow: inset 0 -2px 5px #ccc;
  }

/* The outer container of the options */
.dk_options {
}
  .dk_options a {
    background-color: #fff;
    border-bottom: 1px solid #c8c8c8;
    padding: 8px 10px;
  }
  .dk_options li:last-child a {
    border-bottom: none;
  }
  .dk_options a:hover,
  .dk_option_current a {
    background-color: #eeeeee;
    color: #424242;
    text-decoration: none;
  }
  .dk_option_current a {
    font-weight: bold;  
  }

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  border: 1px solid #c8c8c8;
  border-bottom-width: 2px;
  border-bottom-color: #AAA;
  max-height: 250px;
  text-shadow: #fff 0 1px 0;
  margin: 0; padding: 0;
}
	.dk_options_inner li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}

/******  DARK THEME ********/

/* Container */
.dk_theme_dark .dk_container {}
  .dk_theme_dark a {}

/* Toggle */
.dk_theme_dark .dk_toggle {
  background: #404040 url(/sites/all/themes/netstof/images/select-arrow.png) no-repeat center right;
  border: none;	
  color: #FFFFFF;
  padding: 9px 0 9px 10px;
  border-radius: 0;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
  font-size: 13px;
}
  .dk_theme_dark .dk_toggle:hover {}

/* Focus State */
.dk_theme_dark.dk_focus,
.dk_theme_dark:focus {}
  .dk_theme_dark.dk_focus .dk_toggle {}
  
/* Open State */
.dk_theme_dark.dk_open {}
  .dk_theme_dark.dk_open .dk_toggle {}

/* Options Menu */
.dk_theme_dark .dk_options {}
  .dk_theme_dark .dk_options a {
      	background-color: #fff;
    	border-bottom: 1px solid #c8c8c8;
    	padding: 8px 10px;
    	color: #404040;
  }
  .dk_theme_dark .dk_options a:hover,
  .dk_theme_dark .dk_option_current a {}

/* Inner options */
.dk_theme_dark .dk_options_inner {}

/* Set a width property here */
.dk_theme_dark .dk_options_inner,
.dk_theme_dark.dk_touch .dk_options {}

/******  End Dark Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
  float: left;
  position: relative;
}
  .dk_container a {
    outline: 0;
  }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
}
  .dk_open .dk_options {
    display: block;
  }
  .dk_open .dk_label {
    color: inherit;
  }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
}
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;
  }
  .dk_options_inner {
    overflow: auto;
    position: relative;
  }

.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.node-form .form-select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/

/**
 * TOOLTIPS
 */
.qtip {
	font-size: 13px;
}

/** 
 * THROBBER
 */
.progress-disabled {
  float: none;
  display:inline;
}

.ajax-progress {
  float: none;
  display:inline;
  position: relative;
}
.ajax-progress .throbber {
  float: none;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 0; left: 0;
}
tr .ajax-progress .throbber {
  margin: 0 2px;
}
.ajax-progress-bar {
  width: 16em;
}