/**
 * HEADER MAIN MENU
 */
.menu_icon {
	background-position: center 15px !Important;
}
.region-header {
	height: 154px;
	float: right;
	position: relative;
	z-index: 9;
}
.region-header .menu-block-wrapper > ul.menu { 
	height:154px;padding:0;margin:0;
}
	.region-header .menu-block-wrapper > ul.menu > li {
		float: left;
		list-style: none;
		list-style-image: none;
		text-align: center;
		height: 154px;
		position: relative;
	}
	.region-header .menu-block-wrapper > ul.menu > li > a {
		width:140px;height:40px;
		display:block;
		color: #FFFFFF;
		padding: 68px 0 0 0 !important;
		font-size: 14px; line-height: 15px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.region-header .menu-block-wrapper > ul.menu > li > a:hover {
		text-decoration: none;
		background-color: #5d5d5d;
	}
	.region-header .menu-block-wrapper > ul.menu > li > a.active-trail {
		background-color: #ffad00;
		color: #404040;
	}
		.region-header .menu-block-wrapper > ul.menu > li > a > em {
			display: block;
			font-size: 12px;
			font-weight: normal;
			font-style: normal;
			text-transform: none;
		}
	/**
	 * Undermenu
	 */
	.region-header ul.menu > li.expanded  > ul {
		display: none;
		width: 350px;
	}
	.region-header ul.menu > li.expanded.active-trail  > ul {
		display: block;
	}
	.region-header ul.menu > li  > ul {
		height: 46px;
		padding: 0;
		margin: 0;
		position: absolute;
		right: 0;
		top: 108px;
		text-align: right;
	}
		.region-header ul.menu > li  > ul > li {
			list-style: none;
			list-style-image: none;
			display: inline;	
			position: relative;
			z-index: 10;
			top: 12px;
			background: url("../images/sub-menu-sep.png") no-repeat center left;
			padding: 0 8px 0 20px;
		}
		.region-header ul.menu > li  > ul > li.first {
			padding-left: 0;
			background: none;
		}
		.region-header ul.menu > li  > ul > li > a {
			font-size: 13px;
			color: #3b3b3b;
			text-transform: uppercase;
		}
		.region-header ul.menu > li  > ul > li > a.active {
			color: #ffad00;
		}

/**
 * FOOTER TOP MENU
 */
.region-footer-top .block-last ul.menu {
	margin: 0; padding: 0;
	list-style: none;
	text-align: right;
}
	.region-footer-top .block-last ul.menu li {
		display: inline;
		list-style: none;
		list-style-image: none;
		margin-left: 13px;
		font-size: 15px; line-height: 16px;
		border-left: 1px solid #ffad00;
		padding-left: 6px;
		font-weight: bold;
	}
	.region-footer-top .block-last ul.menu li a {
		color: #FFFFFF;
	}
	
/**
 * FOOTER BOTTOM MENU
 */
.region-footer-btm .block-first ul.menu {
	margin: 0; padding: 0;
	list-style: none;
	text-align: left;
}
	.region-footer-btm .block-first ul.menu li {
		display: inline;
		list-style: none;
		list-style-image: none;
		font-size: 13px; line-height: 13px;
		text-transform:uppercase;
		background: url("../images/sub-menu-sep.png") no-repeat center left;
		padding: 0 8px 0 20px;
	}
	.region-footer-btm .block-first ul.menu li.first {
		padding-left: 0;
		background: none;
	}
	.region-footer-btm .block-first ul.menu li a {
		color: #404040;
	}
