/**
 * HEADER MAIN MENU
 */
.region-header {
	float: right;
	position: relative;
	z-index: 9;
}
.region-header .menu-block-wrapper > ul.menu {
	height:154px;padding:0;margin:0;
}
	.region-header .menu-block-wrapper > ul.menu > li {
		float: left;
		list-style: none;
		list-style-image: none;
		text-align: center;
		height: 154px;
		position: relative;
        padding: 0px;
	}
	.region-header .menu-block-wrapper > ul.menu > li > a {
		width:140px;height:40px;
		display:block;
		color: #FFFFFF;
		padding: 68px 0 0 0 !important;
		font-size: 14px; line-height: 15px;
		text-transform: uppercase;
		font-weight: bold;
		background-size: 52px 48px;
	}
	.region-header .menu-block-wrapper > ul.menu > li > a:hover {
		text-decoration: none;
		background-color: #5d5d5d;
	}
	.region-header .menu-block-wrapper > ul.menu > li > a.active-trail {
		background-color: #ffad00;
		color: #404040;
	}
		.region-header .menu-block-wrapper > ul.menu > li > a > em {
			display: block;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			text-transform: none;
		}
	.region-header .menu-2060 {
		background-image: url("../images/menu1.png");
	}
	.region-header .menu-237 {
		background-image: url("../images/menu2.png");
	}
	.region-header .menu-2030 {
		background-image: url("../images/menu3.png");
	}
	.region-header .menu-2031 {
		background-image: url("../images/menu4.png");
	}
	.menu_icon {
		background-position: center 15px !important;
		background-repeat: no-repeat;
	}
	/**
	 * Undermenu
	 */
	.region-header ul.menu > li.expanded  > ul {
		display: none;
		width: 370px;
		z-index: 100;
	}
	.region-header ul.menu > li.expanded.active-trail  > ul {
		display: block;
	}
	.region-header ul.menu > li  > ul {
		height: 46px;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 108px;
		text-align: left;
	}
		.region-header ul.menu > li  > ul > li {
			list-style: none;
			list-style-image: none;
			display: inline;
			position: relative;
			z-index: 10;
			top: 12px;
			background: url("../images/sub-menu-sep.png") no-repeat center left;
			padding: 0 8px 0 20px;
		}
		.region-header ul.menu > li  > ul > li.first {
			padding-left: 0;
			background: none;
		}
		.region-header ul.menu > li  > ul > li > a {
			font-size: 13px;
			color: #3b3b3b;
			text-transform: uppercase;
		}
		.region-header ul.menu > li  > ul > li > a.active {
			color: #ffad00;
		}

/**
 * FOOTER TOP MENU
 */
.region-footer-top .block-last ul.menu {
	margin: 0; padding: 0;
	list-style: none;
	text-align: right;
}
	.region-footer-top .block-last ul.menu li {
		display: inline;
		list-style: none;
		list-style-image: none;
		margin-left: 13px;
		font-size: 15px; line-height: 16px;
		border-left: 1px solid #ffad00;
		padding-left: 6px;
		font-weight: bold;
	}
	.region-footer-top .block-last ul.menu li a {
		color: #FFFFFF;
	}

/**
 * FOOTER BOTTOM MENU
 */
.region-footer-btm .block-first ul.menu {
	margin: 0; padding: 0;
	list-style: none;
	text-align: left;
}
	.region-footer-btm .block-first ul.menu li {
		display: inline;
		list-style: none;
		list-style-image: none;
		font-size: 13px; line-height: 13px;
		text-transform:uppercase;
		background: url("../images/sub-menu-sep.png") no-repeat center left;
		padding: 0 8px 0 20px;
	}
	.region-footer-btm .block-first ul.menu li.first {
		padding-left: 0;
		background: none;
	}
	.region-footer-btm .block-first ul.menu li a {
		color: #404040;
	}

/**
 * BREADCRUMB
 */
#breadcrumbs {
	background-color: #FFFFFF;
	padding: 8px 0;
}
	#breadcrumbs ul {
		list-style: none;
		padding: 0 13px;
		margin: 0;
		overflow-x:visible;
    	overflow-y:hidden;
    	white-space:nowrap;
	}
	#breadcrumbs ul li {
		display: inline-block;
		background: #404040 url("../images/bread-sep.png") no-repeat top right;
		background-size: 12px 28px;
		font-size: 13px; line-height: 1em;
		color: #FFFFFF;
		text-transform: uppercase;
		font-weight: bold;
		padding: 8px 16px 8px 5px;
	}
	#breadcrumbs ul li.first {
		background: #404040 url("../images/bread-sep-first.png") no-repeat top right;
		background-size: 70px 28px;
	}
	#breadcrumbs ul li.last {
		background: #404040 url("../images/bread-sep-last.png") no-repeat top right;
		background-size: 9px 28px;
	}
	#breadcrumbs ul li a {
		float: left;
		height: auto; width: auto;
		padding: 0;
		color: #FFFFFF;
		max-width: 100%;
	}