/**
 * Search icon
 */
.search-icon{
    cursor: pointer;
    margin-left: 15px;
    line-height: 0;
    float: right;
    position: relative;
    top: 42px;
    height: 28px;
}
.search-icon svg {
    width: 28px;
}
.search-icon svg .search-svg {
    fill: #424242;
}


/**
 * hamburger icon
 */
.hamburger-icon{
    cursor: pointer;
    margin-left: 15px;
    line-height: 0;
    float: right;
    position: relative;
    top: 42px;
    height: 28px;
}
.hamburger-icon svg {
    width: 28px;
}
.hamburger-icon svg .line {
    fill: #424242;
}


/**
 * mobile menu overlay
 */
.mobile-menu-overlay{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #ffad00;
    -webkit-box-shadow: 0 0 0 100vw rgba(0,0,0,.5);
    box-shadow: 0 0 0 100vw rgba(0,0,0,.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.mobile-menu-overlay.open{
    opacity: 1;
    visibility: visible;
    right: 0;
}

.mobile-menu-overlay .close-menu {
    position: absolute;
    top: 2.8em;
    cursor: pointer;
}
.mobile-menu-overlay .close-menu .close-menu-btn {
    width: 25px;
    height: 25px;
}
.mobile-menu-overlay .close-menu .close-menu-btn .cross {
    fill: #fff;
}


.mobile-menu-overlay .menu-block-wrapper {
    width: 100%;
    text-align: center;
}

.mobile-menu-overlay .menu-block-wrapper ul.menu{
    padding: 0;
    text-align: center;
    list-style: none;
}
.mobile-menu-overlay .menu-block-wrapper ul.menu li{
    list-style: none;
    text-align: center;
    padding: 0;
}

.mobile-menu-overlay .menu-block-wrapper ul.menu li a{
    color: #ffffff;
    font-size: 22px;
    padding: 0;
    background: transparent;
}
.mobile-menu-overlay .menu-block-wrapper ul.menu li.active > a{
    color: #424242;
}
.mobile-menu-overlay .menu-block-wrapper ul.menu li a em{
    display: none;
}

.mobile-menu-overlay .menu-block-wrapper ul.menu li a:hover{
    text-decoration: none;
    color: #424242;
}

.mobile-menu-overlay .menu-block-wrapper ul.menu > li > ul{
    margin-top: 5px;
    margin-bottom: 25px;
}
.mobile-menu-overlay .menu-block-wrapper ul.menu > li > ul > li{
    margin-top: 5px;
}
.mobile-menu-overlay .menu-block-wrapper ul.menu > li > ul > li a{
    font-size: 16px;
}




/**
 * HEADER MAIN MENU
 */
.region-header {
	float: right;
	position: relative;
	z-index: 9;
}
.region-header .menu-block-wrapper > ul.menu {
	height:154px;padding:0;margin:0;
}
	.region-header .menu-block-wrapper > ul.menu > li {
		float: left;
		list-style: none;
		list-style-image: none;
		text-align: left;
		position: relative;
        padding: 0;
	}
	.region-header .menu-block-wrapper > ul.menu > li > a {
		height:64px;
		display:block;
		color: #424242;
		font-size: 14px; line-height: 15px;
		text-transform: uppercase;
		font-weight: bold;
		background-size: 36px 37px;
        padding: 44px 18px 0 55px;
	}
	.region-header .menu-block-wrapper > ul.menu > li:hover > a {
		text-decoration: none;
		background-color: #ffad00;
        color: #424242;
	}
	.region-header .menu-block-wrapper > ul.menu > li > a.active-trail {
		background-color: #ffad00;
		color: #404040;
	}
		.region-header .menu-block-wrapper > ul.menu > li > a > em {
			display: block;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			text-transform: none;
		}
	.region-header .menu-2143 {
		background-image: url("../images/menu_icons/menu1_normal.png");
	}
	.region-header .menu-237 {
		background-image: url("../images/menu_icons/menu2_normal.png");
	}
	.region-header .menu-2030 {
		background-image: url("../images/menu_icons/menu3_normal.png");
	}
	.region-header .menu-2031 {
		background-image: url("../images/menu_icons/menu4_normal.png");
	}

    .region-header .menu-block-wrapper > ul.menu > li:hover > a.menu-2143,
    .region-header .menu-block-wrapper > ul.menu > li.active-trail > a.menu-2143{
		background-image: url("../images/menu_icons/menu1_hover.png");
	}
	.region-header .menu-block-wrapper > ul.menu > li:hover > a.menu-237,
    .region-header .menu-block-wrapper > ul.menu > li.active-trail > a.menu-237{
		background-image: url("../images/menu_icons/menu2_hover.png");
	}
	.region-header .menu-block-wrapper > ul.menu > li:hover > a.menu-2030,
    .region-header .menu-block-wrapper > ul.menu > li.active-trail > a.menu-2030{
		background-image: url("../images/menu_icons/menu3_hover.png");
	}
	.region-header .menu-block-wrapper > ul.menu > li:hover > a.menu-2031,
    .region-header .menu-block-wrapper > ul.menu > li.active-trail > a.menu-2031{
		background-image: url("../images/menu_icons/menu4_hover.png");
	}

	.menu_icon {
		background-position: 12px 36px !important;
		background-repeat: no-repeat;
	}
	/**
	 * Undermenu
	 */
	.region-header ul.menu > li.expanded  > ul {
		display: none;
		width: 370px;
		z-index: 100;
	}
	.region-header ul.menu > li.expanded.active-trail  > ul {
		display: block;
	}
	.region-header ul.menu > li  > ul {
		height: 46px;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 108px;
        left: 15px;
		text-align: left;
	}
		.region-header ul.menu > li  > ul > li {
			list-style: none;
			list-style-image: none;
			display: inline;
			position: relative;
			z-index: 10;
			top: 14px;
			padding: 0;
		}
        .region-header ul.menu > li  > ul > li:after {
			content: "-";
            display: inline-block;
            padding: 0 1em;
            color: #ffffff;
		}
        .region-header ul.menu > li  > ul > li.last:after {
            display: none;
		}
		.region-header ul.menu > li  > ul > li.first {
			padding-left: 0;
			background: none;
		}
		.region-header ul.menu > li  > ul > li > a {
			font-size: 13px;
			color: #ffffff;
			text-transform: uppercase;
		}
		.region-header ul.menu > li  > ul > li > a.active {
			color: #424242;
		}

/**
 * FOOTER TOP MENU
 */
.region-footer-top .block-last ul.menu {
	margin: 0; padding: 0;
	list-style: none;
	text-align: right;
}
	.region-footer-top .block-last ul.menu li {
		display: inline;
		list-style: none;
		list-style-image: none;
		margin-left: 13px;
		font-size: 15px; line-height: 16px;
		border-left: 1px solid #ffad00;
		padding-left: 6px;
		font-weight: bold;
	}
	.region-footer-top .block-last ul.menu li a {
		color: #FFFFFF;
	}

/**
 * FOOTER BOTTOM MENU
 */
.region-footer-btm .block-first ul.menu {
	margin: 0; padding: 0;
	list-style: none;
	text-align: left;
}
	.region-footer-btm .block-first ul.menu li {
		display: inline;
		list-style: none;
		list-style-image: none;
		font-size: 13px; line-height: 13px;
		text-transform:uppercase;
		background: url("../images/sub-menu-sep.png") no-repeat center left;
		padding: 0 8px 0 20px;
	}
	.region-footer-btm .block-first ul.menu li.first {
		padding-left: 0;
		background: none;
	}
	.region-footer-btm .block-first ul.menu li a {
		color: #404040;
	}

/**
 * BREADCRUMB
 */
#breadcrumbs {
	background-color: #FFFFFF;
	padding: 8px 0;
}
	#breadcrumbs ul {
		list-style: none;
		padding: 0 13px;
		margin: 0;
		overflow-x:visible;
    	overflow-y:hidden;
    	white-space:nowrap;
	}
	#breadcrumbs ul li {
		display: inline-block;
		background: #404040 url("../images/bread-sep.png") no-repeat top right;
		background-size: 12px 29px;
		font-size: 13px; line-height: 1em;
		color: #FFFFFF;
		text-transform: uppercase;
		font-weight: bold;
		padding: 8px 16px 8px 5px;
	}
	#breadcrumbs ul li.first {
		background: #404040 url("../images/bread-sep-first.png") no-repeat top right;
		background-size: 70px 29px;
	}
	#breadcrumbs ul li.last {
		background: #404040 url("../images/bread-sep-last.png") no-repeat top right;
		background-size: 9px 29px;
	}
	#breadcrumbs ul li a {
		float: left;
		height: auto; width: auto;
		padding: 0;
		color: #FFFFFF;
		max-width: 100%;
	}