/* diverse styling */
#columns{
	/* margin:0 15px 0 12px; */
}
#branding{
	float:left;
}
.region-header{
}
/* Menu styles */
/*
	.region-header ul.menu{
		height:90px;padding:0;margin:0;
	}
		#header-container .region-header ul.menu li,
		#header-container .region-header ul.menu li a{
			width:140px;height:108px;padding:0;
			display:block;float:left;
		}
		#header-container .region-header ul.menu a.menu-346{
			background:url('/sites/all/themes/netstof/images/erfaringer-sprite.png') no-repeat transparent 16px -102px;
		}
			#header-container .region-header ul.menu a.menu-346:hover{
				background:url('/sites/all/themes/netstof/images/erfaringer-sprite.png') no-repeat #5d5d5d 16px -102px;
			}
			#header-container .region-header ul.menu a.menu-346.active{
				background:url('/sites/all/themes/netstof/images/erfaringer-sprite.png') no-repeat #ffad00 16px 8px;
			}
		#header-container .region-header ul.menu a.menu-347{
			background:url('/sites/all/themes/netstof/images/raadgivning-sprite.png') no-repeat transparent 16px -102px;
		}	
			#header-container .region-header ul.menu a.menu-347:hover{
				background:url('/sites/all/themes/netstof/images/raadgivning-sprite.png') no-repeat #5d5d5d 16px -102px;
			}
			#header-container .region-header ul.menu a.menu-347.active{
				background:url('/sites/all/themes/netstof/images/raadgivning-sprite.png') no-repeat #ffad00 16px 8px;
			}	
		#header-container .region-header ul.menu a.menu-348{
			background:url('/sites/all/themes/netstof/images/vidensbank-sprite.png') no-repeat transparent 16px -102px;
		}
			#header-container .region-header ul.menu a.menu-348:hover{
				background:url('/sites/all/themes/netstof/images/vidensbank-sprite.png') no-repeat #5d5d5d 16px -102px;
			}
			#header-container .region-header ul.menu a.menu-348.active{
				background:url('/sites/all/themes/netstof/images/vidensbank-sprite.png') no-repeat #ffad00 16px 8px;
			}
		#header-container .region-header ul.menu a.menu-349{
			background:url('/sites/all/themes/netstof/images/findhjaelp-sprite.png') no-repeat transparent 16px -102px;
		}			
			#header-container .region-header ul.menu a.menu-349:hover{
				background:url('/sites/all/themes/netstof/images/findhjaelp-sprite.png') no-repeat #5d5d5d 16px -102px;
			}
			#header-container .region-header ul.menu a.menu-349.active{
				background:url('/sites/all/themes/netstof/images/findhjaelp-sprite.png') no-repeat #ffad00 16px 8px;
			}
*/
/* Slideshow */
#block-views-slideshow-block a{
	text-decoration:none;color:#faad09;
}
#block-views-slideshow-block .skin-default{
	position:relative;
}
	#block-views-slideshow-block .views-slideshow-controls-top{
		position:absolute;top:0;left:0;z-index:5;
	}
	#block-views-slideshow-block #views_slideshow_cycle_main_slideshow-block{
		position:relative;top:0;left:0;z-index:4;
	}
		/* Text-overlay */
		#widget_pager_top_slideshow-block{position:relative;}
		#widget_pager_top_slideshow-block .views-slideshow-pager-field-item > div{display:none;}
		#widget_pager_top_slideshow-block .views-slideshow-pager-field-item > div.views-field-counter{display:block;}
		#widget_pager_top_slideshow-block .views-slideshow-pager-field-item.active{
			width:209px;height:159px;margin-top:44px;padding:25px 20px 20px 20px;
			background:url('../images/slideshow-text-bg.png') repeat-x top left transparent;
			color:#ffffff;
		}
		#widget_pager_top_slideshow-block .views-field-counter{
			width:18px;height:28px;padding:6px 0 0 12px;
			background:#404040;
			color:#ffffff;
		}
		#widget_pager_top_slideshow-block .views-slideshow-pager-field-item.active > div.views-field-counter{
			width:43px;height:34px;
			background-color:none;
			background:url('../images/slide-active.png') no-repeat top left;
		}
		#widget_pager_top_slideshow-block #views_slideshow_pager_field_item_top_slideshow-block_0 > div.views-field-counter{
			position:absolute;top:0;left:-31px;
		}
		#widget_pager_top_slideshow-block #views_slideshow_pager_field_item_top_slideshow-block_1 > div.views-field-counter{
			position:absolute;top:35px;left:-31px;
		}
		#widget_pager_top_slideshow-block #views_slideshow_pager_field_item_top_slideshow-block_2 > div.views-field-counter{
			position:absolute;top:70px;left:-31px;
		}
		#widget_pager_top_slideshow-block #views_slideshow_pager_field_item_top_slideshow-block_3 > div.views-field-counter{
			position:absolute;top:105px;left:-31px;
		}
		#widget_pager_top_slideshow-block .views-slideshow-pager-field-item.active > div{display:block;}
		#widget_pager_top_slideshow-block .views-field-title{font-size:18px;}
		#widget_pager_top_slideshow-block .views-field-field-slide-tags{
			margin-bottom:10px;
			text-transform:uppercase;font-size:11px;
		}
		#widget_pager_top_slideshow-block .views-field-body{font-size:13px;line-height:1.3;}
		#widget_pager_top_slideshow-block .views-content-body > p{margin-bottom:10px;}
		#widget_pager_top_slideshow-block .views-field-view-node{
			margin-right:10px;padding:0 15px 0 0;
			font-size:13px;
			text-transform:uppercase;text-align:right;
			background:url('../images/read-more-arrow.png') no-repeat 190px 4px;
		}

#leftcontent{
	width:160px;margin-top:20px;padding:0 20px 0 20px;
	float:left;
}
/* quick links to the right of the slideshow */
.region-sidebar-first #hurtige-genveje{
	height:239px;
	background:#3e3e3e;
}
body.page-paaroerende .region-sidebar-first #hurtige-genveje{
  background:#3e3e3e;
  height:auto;
}
	.region-sidebar-first #hurtige-genveje .left{float:left;}
	.region-sidebar-first #hurtige-genveje .right{float:left;line-height:1;}	
	/* .genvej & genvej-wrapper */
	.region-sidebar-first #hurtige-genveje .genvej-wrapper{position:relative;}
		.region-sidebar-first #hurtige-genveje .genvej-wrapper:hover{
			background:url('../images/genvej-wrapper-hover.png') no-repeat transparent top left;
		}
		.region-sidebar-first #hurtige-genveje .genvej{
			padding:24px 20px 23px 20px;
			background:url('../images/genvej-border.png') repeat-x transparent top left;
		}
		.region-sidebar-first #hurtige-genveje .genvej:after{
			content:"";
			display:block;
			clear:both;
			width:100%;
		}
			.region-sidebar-first #hurtige-genveje .genvej-wrapper:first-child .genvej{
				background:none;
			}
	/* Each invidual row */
	.region-sidebar-first #hurtige-genveje #akut-hjaelp .left{
		width:30px;height:31px;margin:0 15px 0 3px;
		background:url(../images/akut-hjaelp-genvej.png) no-repeat transparent top left;
	}
	.region-sidebar-first #hurtige-genveje #brevkasse .left{
		width:39px;height:29px;margin:0 10px 0 0;
		background:url(../images/brevkasse-genvej.png) no-repeat transparent top left;
	}
		.region-sidebar-first #hurtige-genveje .genvej-wrapper .plus-brevkasse{display:none;}
			.region-sidebar-first #hurtige-genveje .genvej-wrapper:hover .plus-brevkasse{
				display:block;
				width:68px;height:80px;
				position:absolute;top:0;right:0;
			}
		.region-sidebar-first #hurtige-genveje #brevkasse:hover .left{
			background:url(../images/brevkasse-hover-genvej.png) no-repeat transparent top left;
		}
	.region-sidebar-first #hurtige-genveje #debatforum .left{
		width:41px;height:40px;margin:-3px 8px 0 0;
		background:url(../images/forum-genvej.png) no-repeat transparent top left;
	}
		.region-sidebar-first #hurtige-genveje .genvej-wrapper .plus-debatforum{display:none;}
		.region-sidebar-first #hurtige-genveje .genvej-wrapper:hover .plus-debatforum{
			display:block;
			width:68px;height:80px;
			position:absolute;top:0;right:0;
		}
		.region-sidebar-first #hurtige-genveje #debatforum:hover .left{
			background:url(../images/forum-hover-genvej.png) no-repeat transparent top left;
		}
	/* General row styling */
	.region-sidebar-first #hurtige-genveje .genvej:hover .right .title a{color:#feac01;}
	.region-sidebar-first #hurtige-genveje .genvej:hover .right .description{
		color:#fefefe;
		cursor:default;
	}
	.region-sidebar-first #hurtige-genveje .right a{font-size:18px;color:#fff;}
	.region-sidebar-first #hurtige-genveje .right a{text-decoration:none;}
	.region-sidebar-first #hurtige-genveje .right .description{margin-top:1px;}
	.region-sidebar-first #hurtige-genveje .right .description{
		font-size:12px;color:#b8b8b8;
	}
/* Left content on sub page */
	#leftcontent h3{
		margin:14px 0 4px -6px;
		padding:2px 0 2px 6px;
		background:#e5e4e1;
		font-size:14px;
	}
	#leftcontent .block-content h3:first-child{
		margin-top:0;
	}
	#leftcontent strong{
		font-size:13px;font-weight:bold;
		text-transform:uppercase;
	}
	#leftcontent ul{
		padding:0;margin:0;
		list-style-image:url('../images/content/bullet.jpg');
		list-style-position:inside;
	}
	#leftcontent ul li{
		color:#a6a6a6;
	}
	#leftcontent p{
		margin:0;padding:0;
	}
/* Right sidebar */
#block-block-7{margin-top:25px;}
/* Brevkasse enkeltvisning */
.not-front.node-type-questions-and-answers #main-content{
	background:none;box-shadow:none;
}
	.not-front.node-type-questions-and-answers #main-content > #content{
		padding:0;
		background:none;box-shadow:none;
	}
		.node-type-questions-and-answers .node-content div{margin-top:15px;}
		.node-type-questions-and-answers .node-content div:first-child{margin-top:0;}
			.node-questions-and-answers .node-content .question, .node-questions-and-answers .node-content .answer{
				padding:25px 22px 15px;
				background:url("../images/content-top.png") no-repeat scroll center top #FFFFFF;
				box-shadow:0 0 7px #BBBBBB;
			}
				.node-type-questions-and-answers .node-content #page-title{
					margin-bottom:15px;
					font-size:28px;color:#0b5a7c;
				}
			/* question part */
			.node-questions-and-answers .node-content .question .date{margin-bottom:15px;}
			.node-questions-and-answers .node-content .question .date-label{
				font-size:13px;text-transform:uppercase;
			}
				.node-questions-and-answers .question .field-name-field-qna-sex:after,
				.node-questions-and-answers .question .field-name-field-qna-age:after{
					content:"";
					display:block;
					clear:both;
					width:100%;
				}
					.node-questions-and-answers .question .field-name-field-qna-sex  h2, 
					.node-questions-and-answers .question .field-name-field-qna-sex div,
					.node-questions-and-answers .question .field-name-field-qna-age h2,
					.node-questions-and-answers .question .field-name-field-qna-age div{
						margin:0;
						float:left;
					}
			/* answer part */
			.node-type-questions-and-answers .node-content .answer {
				padding-bottom:1px;
			}
			.node-type-questions-and-answers .answer .field-name-field-qna-answer h2{
				font-size:20px;font-weight:normal;
				text-transform:uppercase;
			}
			.node-type-questions-and-answers .answer .field-name-field-tags ul{margin:0;padding:0;}
			.node-type-questions-and-answers .answer .field-name-field-tags ul li{
				margin-left:5px;
				display:inline;
				text-transform:uppercase;
			}
			.node-type-questions-and-answers .answer .field-name-field-tags ul li:first-child{
				margin-left:0;
			}
			.node-type-questions-and-answers .answer .field-name-field-tags ul li a{display:inline;}
			.node-type-questions-and-answers .answer .user-picture img{margin:0;padding:0;}