/**
 * UNDERSIDER
 */
 
h1#page-title {
	font-size: 28px; line-height: 28px;
	color: #424242;
	font-weight: normal;
	margin-bottom: 25px;
}
.not-front #main-content > #content {
	font-size: 13px; line-height: 16px;
	color: #3e3e3e;
}

/**
 * Simpel Side
 */
.field-name-field-billede figure {
	line-height: 0;
}

/**
 * Opret indhold - Spørgsmål til brevkassen
 */
.page-node-add-questions-and-answers h1#page-title {
	color: #0B5A7C !important;
	padding: 3px 0 0 52px;
	background: url("../images/icon-title-letter.png") no-repeat top left;
	height: 36px;
}
#questions-and-answers-node-form {
	font-family: "Cabin", sans-serif;
}
	#questions-and-answers-node-form > div > .form-item {
		margin-bottom: 18px;
	}
	#questions-and-answers-node-form label {
		font-size: 13px;
		line-height: 13px;
		font-weight: bold;
		color: #424242;
		margin-bottom: 10px;
	}
	#questions-and-answers-node-form label.option {
		font-weight: normal;
	}
	#questions-and-answers-node-form #edit-body-und-0-format {
		display: none;
	}
	#questions-and-answers-node-form #edit-body {
		margin-bottom: 18px;
	}
	#edit-field-profile-qna-taxonomy-und > div.form-item {
	
	}
	#questions-and-answers-node-form div.description {
	margin-left: 0;
	}	
	#questions-and-answers-node-form #edit-submit {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
	background: #0B5A7C url("../images/icon-plus.png") no-repeat 10px 8px;
	padding: 10px 12px 10px 35px;
	border: none;
	border-radius: 5px;
	text-align: left;
	}
	#questions-and-answers-node-form input[type=text] {
		padding: 3px 4px;
		font-size: 12px;
		color: #666;
		font-family: "Cabin", sans-serif;
	}