/**
 * UNDERSIDER
 */
 
h1#page-title {
	font-size: 28px; line-height: 28px;
	color: #424242;
	font-weight: normal;
	margin-bottom: 25px;
}
.not-front #main-content > #content {
	font-size: 13px; line-height: 16px;
	color: #3e3e3e;
}
h2,h3,h4,h5,h6 { 
	font-family: "Cabin", sans-serif !important;
	font-weight: normal;
}
.node-content a {
	color: #1e6381;
}
	
/**
 * GENERAL NODE STYLING
 */
.node {

}
	#node-wrapper {
		margin-top: -11px;
	}
		.node-top {
			background: url("../images/big_shadow_top.png") no-repeat top center;
			height: 11px;
		}
		.node-btm {
			background: url("../images/big_shadow_bottom.png") no-repeat top center;
			height: 15px;
		}
		.node-middle {
			background: white url("../images/content-btm.png") no-repeat bottom center;		
			padding: 25px 23px;
			overflow: hidden;
		}
			.node-middle nav ul li {
				float: right;
				padding: 0 0 0 5px;
			}
			.node-middle nav ul li a {
				color: white;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 15px;
				line-height: 15px;
				display: inline-block;
				background: #0B5A7C url("../images/icon-plus-mini.png") no-repeat 11px 11px;
				padding: 10px 12px 10px 30px;
				border-radius: 5px;
			}
			.field-name-field-billede {
				line-height: 0;
			}
			/* Narrow content area */
			#rightcontent.narrow {
				float: left;
				padding-left: 23px;
				width: 357px;
				border-left: 1px dashed #dedddb;
			}
			
			
/**
 * Node Type: FAQ
 */
.node-frequently-asked-question h1#page-title {
	display: none;
}
.node-frequently-asked-question .field-name-body {
	font-size: 28px;
	color: #424242;
	line-height: 28px;
}
	.node-frequently-asked-question .field-name-body p {
		margin-bottom: 15px;
	}
	
/**
 * Node Type: LEKSIKON
 */
 
.node-encyclopedia-entry #page-title {
	margin-bottom: 10px;
}
.node-encyclopedia-entry .field-label {
	margin-top: 0;
}
.field-name-field-encyclopedia-duration {
	margin-bottom: 1.5em;
}
.field-name-field-encyclopedia-drug-forms {

}
	.field-name-field-encyclopedia-drug-forms ul {
		margin: 0; padding: 0;
		overflow: hidden;
	}
		.field-name-field-encyclopedia-drug-forms ul li {
			float: left;
			list-style: none;
			list-style-image: none;
			margin: 5px 5px 0 0; padding: 0;
		}

/* Tags */
.node-encyclopedia-entry .field-name-field-tags {
	font-size: 11px; line-height: 14px;
	margin-bottom: 20px;
	font-weight: bold;
}
	.node-encyclopedia-entry .field-name-field-tags h2 {
		margin: 0;
		padding: 0;
		float: left;
	}
	.node-encyclopedia-entry .field-name-field-tags ul {
		float: none;
	}
		.node-encyclopedia-entry .field-name-field-tags ul li {
			text-transform: uppercase;
			padding: 0 0 0 5px !important;
			border-left: 1px solid #424242;
			margin-left: 5px;
			float: left;
		}
		.node-encyclopedia-entry .field-name-field-tags ul li:first-child {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
		}
/* Tabs */
.node-encyclopedia-entry .field-group-htabs-wrapper {
}
.node-encyclopedia-entry .horizontal-tabs {
	border: none;
	margin: 0;
}
	.node-encyclopedia-entry ul.horizontal-tabs-list {
		margin: 0 0 15px 0;
		background-color: #FFFFFF;
		border: none;
	}
		.node-encyclopedia-entry ul.horizontal-tabs-list li {
			height: 27px;
			background-color: #404040;
			border-right: 1px solid #FFFFFF;
			outline: none;
			min-width: inherit;
		}
		.node-encyclopedia-entry ul.horizontal-tabs-list li:focus,
		.node-encyclopedia-entry ul.horizontal-tabs-list li:hover {
			background-color: #404040;
		}
			.node-encyclopedia-entry ul.horizontal-tabs-list li a {
				color: #e5e4e1;
				font-size: 12px;
				font-weight: bold;
				outline: none;
				padding: 0.5em 1em 0.3em 1em;
			}
			.node-encyclopedia-entry ul.horizontal-tabs-list li a:hover {
				background-color: #404040;
			}
		.node-encyclopedia-entry ul.horizontal-tabs-list li.selected {
		
		}
			.node-encyclopedia-entry ul.horizontal-tabs-list li.selected a {
				color: #424242;
				font-size: 15px;
				text-transform: uppercase;
				font-weight: bold;
				background-color: #FFFFFF;
				padding: 0.4em 1em 0.4em 1em;
			}
				.node-encyclopedia-entry ul.horizontal-tabs-list li.selected a:hover {
					background-color: #FFFFFF;
				}
				.node-encyclopedia-entry ul.horizontal-tabs-list li.selected a strong {
					color: #424242;
				}
	.node-encyclopedia-entry .horizontal-tabs fieldset.horizontal-tabs-pane {
		padding: 0;
		margin: 0;
		font-size: 12px;
		font-family: "Cabin", sans-serif;
	}
	
/**
 * KOMMENTARER
 */
#comments-form-wrapper {

}
	#comments-form-wrapper .comment-top {
		background: url("../images/big_shadow_top.png") no-repeat top center;
		height: 11px;
	}
	#comments-form-wrapper .comment-btm {
		background: url("../images/big_shadow_bottom.png") no-repeat bottom center;
		height: 15px;	
	}
	#comments-form-wrapper h2.comment-title,
	h2.comment-form {
		padding: 25px 23px 25px;
		/* background: white url("../images/content-top.png") no-repeat top center; */
		background-color: #FFFFFF;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: normal;
		margin: 0;
	}
	#comment-form {
		padding: 0 23px 15px;
		background: white url("../images/content-btm.png") no-repeat bottom center;
	}
		#comment-form #edit-comment-body-und-0-format {
			display: none;
		}
		#comment-form #edit-submit {
			color: white;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 14px;
			background: #0B5A7C url("../images/icon-plus.png") no-repeat 10px 8px;
			padding: 10px 12px 10px 35px;
			border: none;
			border-radius: 5px;
			text-align: left;
			margin-top: 15px;
		}
		#comments-form-wrapper label {
			margin-bottom: 3px;
		}
		
section#comments {
	margin: 0;
}
	section#comments article.comment {
		margin-bottom: 0;
	}
		section#comments article.comment .comment-top {
			background: url("../images/big_shadow_top.png") no-repeat top center;
			height: 11px;	
		}
		section#comments article.comment .comment-btm {
			background: url("../images/big_shadow_bottom.png") no-repeat bottom center;
			height: 15px;	
		}
		section#comments article.comment .comment-middle {
			position: relative;
			padding: 50px 23px 50px;
			background: white url("../images/content-btm.png") no-repeat bottom center;		
		}
			section#comments article.comment .submitted {
				font-weight: bold;
				text-transform: uppercase;
				color: #424242;
				font-size: 11px;
			}
			section#comments article.comment .comment-middle nav {
				position: absolute;
				bottom: 23px; right: 23px;
				float: right;
			}
				section#comments article.comment .comment-middle nav li {
					padding: 0 0 0 5px;
				}
				section#comments article.comment .comment-middle nav a {
				color: white;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 15px;
				line-height: 15px;
				display: inline-block;
				background: #0B5A7C url("../images/icon-plus-mini.png") no-repeat 11px 11px;
				padding: 10px 12px 10px 30px;
				border-radius: 5px;
				}
#comments .pager,
#forum-comments .pager {
	display: none;
}