/* $legacy-support-for-ie6: true;
$legacy-support-for-ie7: true; */
/* responsive.custom.css is for custom media queries that are not set via the theme settings, such as cascading media queries.  By default all the other responsive stylesheets used in Adaptivetheme use a "stacking method", however cascading media queries use a waterfall method so you can leverage the cascade and inheritance for all browsers that support media queries, regardless of screen size.  @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack  NOTE: this file loads by default, to disable got to your theme settings and look under the "CSS" settings tab. */
/** MOBILE */
@media only screen and (max-width: 670px) { .region[class*="float-blocks"] .block { float: none; width: 100%; }
  /* Header */
  #header-container { min-height: 100px; }
  #header-container .container { width: calc(100% - 2em); padding: 0 1em; }
  #header-btm-container { height: 50px; }
  ul.ui-autocomplete { max-width: 294px; }
  /* Menu */
  .menu_icon { background-position: center 24px !Important; }
  .region-header .menu-block-wrapper > ul.menu { height: 100px; position: relative; }
  .region-header .menu-block-wrapper > ul.menu > li { height: 150px; position: static; }
  .region-header .menu-block-wrapper > ul.menu > li > a { width: 80px; height: 30px; display: block; color: #424242; padding: 70px 0 0 0 !important; font-size: 11px; line-height: 12px; text-transform: uppercase; font-weight: bold; text-align: center; }
  .region-header .menu-block-wrapper > ul.menu > li > a > em { display: none; }
  /* Sub Menu */
  .region-header ul.menu > li > ul { width: 100% !important; height: 23px; text-align: center; position: absolute; left: 0; top: 116px; }
  .region-header ul.menu > li > ul > li { top: 0; }
  .region-header ul.menu > li > ul > li > a { font-size: 11px; }
  /* Page */
  #page { padding: 23px 0 75px 0; }
  #page #columns { padding: 0 13px; max-width: 611px; }
  #main-content { margin-right: 0 !important; }
  .region-content-front { display: none; }
  /* Featured */
  .region-featured { padding: 0 13px; margin: 0; }
  /* Content */
  .field-name-field-oversigt .field-item, #forum-wrapper .forum-item { width: 100% !important; }
  /* Views */
  .view-Brevkasse > .view-header #add-question, .forum-node-create-links { position: static; }
  .view-erfaringer .view-header #add-experience, .view-erfaringer .view-empty #add-experience { position: static; }
  .view-advanced-forum-topic-list .view-header-content { padding-bottom: 23px; }
  .view-kort .views-exposed-widgets { height: auto; }
  .view-kort .views-exposed-widgets { float: none; height: auto; margin-bottom: 5px; }
  .view-leksikon .view-content .item-list > ul li { width: 100%; }
  /* Blocks */
  .views-fluidgrid-wrapper > div { margin: auto; float: none !important; position: static !important; }
  .block.landing_page .block-middle { padding: 0 0 10px 0; }
  .block.landing_page img { float: none; margin: 0; width: 294px; max-width: none; position: relative; left: -23px; }
  .block.landing_page h2 { padding: 0 23px; }
  .block.landing_page p { padding: 0 23px; }
  #block-views-front-page-grid-block .block-title, #block-views-front-page-grid-block-1 .block-title { padding-left: 0; }
  /* Footer */
  #footer-container { padding-top: 23px; padding-left: 13px; padding-right: 13px; text-align: center; }
  #footer-btm { text-align: center; }
  #footer-btm .block { text-align: center; float: none; }
  #footer-btm .block ul { text-align: center !important; }
  .region-footer-top { display: none; }
  #footer-white { display: none; }
  #scroll-top { top: -65px; right: 13px; }
  .not-front #scroll-top { top: -115px; right: 13px; }
  .region-leftcontent { display: none !important; } }
/** MOBILE + TABLETS */
@media only screen and (max-width: 955px) { /* Slideshow forside*/
  .region-banner-front .slideshow-content { width: 100%; color: #fff; position: absolute; z-index: 99; top: 50%; left: 0; margin-left: 0; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); padding: 0 2em; }
  .region-banner-front .slideshow-content h2 { font-size: 3.5em; line-height: 1.2em; font-weight: bolder; margin: 0 0 0.2em 0; padding: 0 30% 0 0; }
  .region-banner-front .slideshow-content p { line-height: 1.5em; font-size: 1.2em; padding-right: 30%; }
  .region-banner-front .slideshow-content .read-more-btn a { color: white; font-weight: bold; text-transform: uppercase; font-size: 15px; line-height: 15px; display: block; background: #77b5cf; padding: 20px 35px; float: left; clear: both; }
  .region-banner-front .img-container { background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center top; min-height: 500px; width: 100vw; }
    /*
FORSIDE INDGANGE
*/
  #entries-front #hurtige-genveje { width: 100%; }
  #entries-front #hurtige-genveje .genvej-wrapper .left { width: 100%; height: 70px; margin: 0 0 15px 0; margin-top: 18px; background-size: 90%; }
  #entries-front #hurtige-genveje .genvej-wrapper .right .title a { color: #424242; font-weight: bolder; text-transform: uppercase; font-size: 14px; }
  #entries-front #hurtige-genveje .genvej-wrapper .right .description { color: #404040; text-transform: uppercase; font-size: 11px; }
  /** FORSIDE VIEW */
  #block-views-front-page-grid-block h2.block-title { font-size: 2em; margin-bottom: 0.4em; }
  #block-views-front-page-grid-block .view-filters { font-size: 13px; }
  #block-views-front-page-grid-block .view-content .views-row-image { height: 266px; }
  #block-views-front-page-grid-block .view-content .views-row-image.first { width: calc(100% / 2); }
  #block-views-front-page-grid-block .view-content .views-row-image.last { width: calc(100% / 2); }
  #block-views-front-page-grid-block .view-content .views-row { width: calc((100% - (23px*4)) / 2); height: 220px; }
  #block-views-front-page-grid-block .view-content .views-row.views-row-last { width: calc(100% - 46px); }
  #block-views-front-page-grid-block .view-content .views-row .views-field-type .forum { padding: 0 0 0 50px; height: 45px; background: url("../images/front-entries/debatfora.png") no-repeat bottom left; background-size: 48px; }
  #block-views-front-page-grid-block .view-content .views-row .views-field-type .questions_and_answers { padding: 0 0 0 50px; height: 45px; background: url("../images/front-entries/brevkasser.png") no-repeat bottom left; background-size: 38px; }
  #block-views-front-page-grid-block .view-content .views-row .views-field-title a { font-size: 20px; line-height: 1.2em; }
  #block-views-front-page-grid-block .item-list .pager { top: -48px; font-size: 14px; }
  /* Header */
  .region-header { width: auto; float: left !important; position: absolute; }
  /* Content */
  #rightcontent.narrow { padding-left: 0; border-left: 0; }
  /* Masonry Grid */
  #edit-type-1-wrapper { display: none; }
  .view-front-page-grid .form-item { margin-bottom: 0; }
  .view-front-page-grid #edit-type-2 { width: 50%; }
  #block-views-front-page-grid-block ul.pager, #block-views-front-page-grid-block-1 ul.pager { right: 0; top: 67px; }
  /* Sidebar top */
  .region-sidebar-top { position: relative; padding-bottom: 23px; width: 100% !important; }
  #search-block-form input[type=search] { width: calc(100% - 2em); padding: 0 1em; text-align: left; font-size: 1.2em; }
  #search-block-form .container-inline { position: relative; overflow: hidden; width: 100%; }
  #search-block-form .form-actions { width: 90px; position: absolute; top: 0; right: 0; }
  #search-block-form .container-inline > div.form-item { width: 100%; overflow: hidden; }
  #custom-search-blocks-form-1, #custom-search-blocks-form-2 { float: none; overflow: hidden; width: auto; }
  /* Footer top */
  .region-footer-top .block-last ul.menu { text-align: center; }
  .region-footer-top .block { margin-bottom: 15px; }
  .region-footer-top .block-last { margin-bottom: 35px; }
  /* Remove decorative graphics from sidebar since it's not optimized for responsive layout */
  .region-sidebar-first .block { background: transparent; }
  .region-sidebar-first .block .block-inner { background: transparent; }
  .not-front .region-sidebar-first .block .block-content { background: transparent; }
  /* HIDE BLOCK REGIONS */
  .region-tabs-right { display: none; }
  #branding { display: none; }
  #header-btm-container a { display: none; } }
/** DESKTOP + TABLET Horizontal */
@media only screen and (min-width: 955px) { #breadcrumbs { display: none; }
  #content-column > .content-inner { margin-right: 294px; }
  #edit-type-2-wrapper { display: none; } }
@media only screen and (max-width: 550px) {     /*
FORSIDE INDGANGE
*/
  #entries-front #hurtige-genveje { width: 100%; }
  #entries-front #hurtige-genveje .genvej-wrapper { height: 125px; }
  #entries-front #hurtige-genveje .genvej-wrapper .right { display: none; }
  /** FORSIDE VIEW */
  #block-views-front-page-grid-block .view-content .views-row-image.first { display: none; }
  #block-views-front-page-grid-block .view-content .views-row-image.last { display: none; }
  #block-views-front-page-grid-block .view-content .views-row { width: calc(100% - 46px); height: auto; }
  #block-views-front-page-grid-block .view-content .views-row.views-row-last { width: calc(100% - 46px); } }
