/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
html {
  /* font-size: 81.3%; */
}

/**
 * CONTENT
 */
#main-content {
	margin-right: 0 !important;
}

/** 
 * NAVIGATION
 */
.region-header .menu-block-wrapper > ul.menu { 
	width: 611px;
	float: left;
}

/**
 * BLOCKS
 */
 
/* Sidebar First */
.region-sidebar-first {
	width: 634px !important;
}
.region-sidebar-first .block {
	width: 294px !important;
	float: left !important;
	margin-right: 23px;
}

/* Footer */
.region-footer section.block {
	margin: 10px 0 0 23px;
}
	.region-footer section.block-first,
	.region-footer section.block-last {
		margin: 10px 0 0 0;
	}