/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
 

/**
 * MOBILE
 */
@media only screen and (max-width: 670px) {
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
  /* Menu */
  .region-header .menu-block-wrapper > ul.menu { 
  	padding-left: 23px;
  }
  .region-header ul.menu > li  > ul {
  	left: 23px;
  	width: 100%;
  	text-align: center;
  }
  /* Page */
  #page #columns {
  	padding: 0 23px;
  	max-width: 611px;
  }
  #main-content {
  	margin-right: 0 !important;
  }
  /* Sidebar first */
  .region-sidebar-first {
  
  }
  .region-sidebar-first .region-inner {
	padding: 23px 0 23px;  
  }
	.region-sidebar-first section.block h2.block-title {
		background: url("../images/content-top.png") no-repeat scroll center top #FFFFFF;
	}
	.region-sidebar-first section.block .block-content {
		background: url("../images/content-btm.png") no-repeat scroll center bottom #FFFFFF;
	}
  /* Footer */
  #footer-container {
  	padding-top: 23px;
  	padding-left: 23px;
  	padding-right: 23px;
  	text-align: center;
  }
  #footer-white {
  	display: none;
  }
  #footer-btm {
  	text-align: center;
  }
  	#footer-btm .block {
  		text-align: center;
  		float: none;
  	}
  	#footer-btm .block ul {
  		text-align: center !important;
	}
  #scroll-top {
  	top: -65px;
  	right: 23px;
  }
}

/**
 *  MOBILE + TABLETS
 */
@media only screen and (max-width: 942px) {
	#branding {
		display: none;
	}
	#header-btm-container a {
		display: none;
	}
	/* Header */
	.region-header { 
		width: 100%;
		float: left !important;
	}
	/* Footer top */
	.region-footer-top .block-last ul.menu {
		text-align: center;
	}
	.region-footer-top .block {
		margin-bottom: 15px;
	}
		.region-footer-top .block-last {
			margin-bottom: 35px;
		}
	/* Sidebar top */
	.region-sidebar-top {
		position: relative;
		padding-bottom: 23px;
	}
	/* Sidebar top */
	.region-sidebar-top {
		width: 100% !important;
	}
		.region-sidebar-top .region-inner {
		}
		#search-block-form input[type=search]{
			width: 100%;
		}
		#search-block-form .container-inline {
			position: relative;
		}
		#search-block-form #edit-actions {
			width: 58px;
			position: absolute;
			top: 0;
			right: 0;
		}
		#search-block-form .container-inline > div {
			width: 100%;
			overflow: hidden;
		}
}

/**
 * DESKTOP + TABLET Horizontal
 */
@media only screen and (min-width: 943px) {
	.region-sidebar-first {
		padding-top: 56px;
	}
	#content-column > .content-inner {
		margin-right: 294px;
	}
}