# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
.project

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/modules/git_deploy
sites/all/modules/devel
sites/all/modules/maillog

#Ignore fetch remote files hack
sites/default/files/.htaccess

#Ignore mysql dumps
*.sql.gz
*.sql

.DS_Store