/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
 

/**
 * MOBILE
 */
@media only screen and (max-width: 670px) {
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
  /* Menu */
  .region-header ul.menu > li  > ul {
  	left: 23px;
  	width: 100%;
  	text-align: center;
  }
  /* Content */
  #main-content {
  	margin: 0 23px;
  }
  /* Sidebar first */
  .region-sidebar-first .region-inner {
	padding: 23px 23px 23px;  
  }
	.region-sidebar-first section.block h2.block-title {
		background: url(/netstof/sites/all/themes/netstof/images/content-top.png) no-repeat scroll center top #FFFFFF;
	}
	.region-sidebar-first section.block .block-content {
		background: url(/netstof/sites/all/themes/netstof/images/content-btm.png) no-repeat scroll center bottom #FFFFFF;
	}
  /* Footer */
  #footer-container {
  	padding-top: 23px;
  	padding-left: 23px;
  	padding-right: 23px;
  	text-align: center;
  }
  #footer-btm {
  	text-align: center;
  }
  	#footer-btm .block {
  		text-align: center;
  		float: none;
  	}
  	#footer-btm .block ul {
  		text-align: center !important;
	}
  #scroll-top {
  	top: -65px;
  	right: 23px;
  }
}

/**
 *  MOBILE + TABLETS
 */
@media only screen and (max-width: 942px) {
	#branding {
		display: none;
	}
	#header-btm-container a {
		display: none;
	}
	/* Header */
	.region-header { 
		width: 100%;
		float: left !important;
	}
	/* Footer top */
	.region-footer-top {
		display: none;
	}
}

@media only screen and (max-width:320px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small devices */
html {
  /* font-size: 112.5%; */
}

}
@media only screen and (min-width:321px) and (max-width:670px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
html {
  /* font-size: 112.5%; */
}

}
@media only screen and (min-width:671px) and (max-width:942px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
html {
  /* font-size: 81.3%; */
}

/**
 * CONTENT
 */
#main-content {
	margin-right: 0 !important;
}

/** 
 * NAVIGATION
 */
.region-header .menu-block-wrapper > ul.menu { 
	width: 611px;
	float: left;
}

/**
 * BLOCKS
 */
 
/* Sidebar First */
.region-sidebar-first {
	width: 634px !important;
}
.region-sidebar-first .block {
	width: 294px !important;
	float: left !important;
	margin-right: 23px;
}

/* Footer */
.region-footer section.block {
	margin: 10px 0 0 23px;
}
	.region-footer section.block-first,
	.region-footer section.block-last {
		margin: 10px 0 0 0;
	}
}
@media only screen and (min-width:943px) and (max-width:1024px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

}
@media only screen and (min-width:1025px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

}